In [1]:
#imports
import pandas as pd

In [49]:
file = "../Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [35]:
#Total number of players
total_players = purchase_data_df["SN"].value_counts()
total_players_count = len(total_players)
total_players_count = [{"Total Player":total_players_count}]
total_players_df = pd.DataFrame(total_players_count)
total_players_df

   Total Player
0           576

In [95]:
#Purchasing Analysis
items = purchase_data_df["Item ID"].value_counts()
items_df = len(items)

average_purchase = purchase_data_df["Price"].mean()
average_purchase_df = average_purchase

tot_items = items.sum()

tot_revenue = purchase_data_df["Price"].sum()

purchasing_items = [{"Number of Unique Items":items_df,"Average Price":average_purchase_df,"Number of Purchases":tot_items,"Total Revenue":tot_revenue}]
purchasing_items_df = pd.DataFrame(purchasing_items).round(2)
purchasing_items_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0           3.05                  780                     183        2379.77

In [ ]:
#Gender Demographic
#% and count Males

#% and count females

#% and count other/non-disclosed

In [ ]:
#Purchasing by Gender
# number of purchases by male/female/other

#average purchase price by male/female/other

#total purchase price by male/female/other

#average purchase total by person by  gender

In [ ]:
#Age Demographic
#bin by 4 year increments

#purchase count per bin

#average purchase price by bin

#total purchase value by bin

#average purchase total by person by age group

In [ ]:
#Top Spenders
#id of top 5 spenders by tot. purchase value

#sn of top 5 spenders

#purchase counts

#average purchase price

#tot. purchase value

In [ ]:
#Most Popular Items
#id 5 most popular items by count

#item name

#purchase count

#item price

#total purchase value

In [ ]:
#Most Profitable items
#item id

#item name

#purchase count

#item price

#total purchase value