In [21]:
import pandas as pd

In [57]:
file = "../Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [58]:
#Total number of players
total_players = purchase_data_df["SN"].value_counts()
total_players_count = len(total_players)
total_players_count_df = [{"Total Player":total_players_count}]
total_players_df = pd.DataFrame(total_players_count_df)
total_players_df

   Total Player
0           576

In [59]:
#Purchasing Analysis
items = purchase_data_df["Item ID"].value_counts()
items_df = len(items)

average_purchase = purchase_data_df["Price"].mean()
average_purchase_df = average_purchase

tot_items = items.sum()

tot_revenue = purchase_data_df["Price"].sum()

purchasing_items = [{"Number of Unique Items":items_df,"Average Purchase Price($)":average_purchase_df,"Total Number of Purchases":tot_items,"Total Revenue($)":tot_revenue}]
purchasing_items_df = pd.DataFrame(purchasing_items).round(2)
purchasing_items_df = purchasing_items_df[["Number of Unique Items","Average Purchase Price($)","Total Number of Purchases","Total Revenue($)"]]                    
purchasing_items_df

,Number of Unique Items,Average Purchase Price($),Total Number of Purchases,Total Revenue($)
0,183,3.05,780,2379.77

In [60]:
#Gender Demographic
purchase_data_df_copy = purchase_data_df.copy(deep = True)
players_df = purchase_data_df_copy
players_df.sort_values("SN", inplace =True)
players_df.drop_duplicates(subset = "SN", keep = "first", inplace = True)
genders = players_df["Gender"].value_counts()
genders_df = pd.DataFrame(genders)
genders_demo_df = genders_df.rename(columns= {"Gender":"Total Count"})
genders_demo_df["Percentage of Players(%)"] = (genders_demo_df["Total Count"]/total_players_count)*100 
genders_demo_df.round(2)

                       Total Count  Percentage of Players(%)
Male                           484                     84.03
Female                          81                     14.06
Other / Non-Disclosed           11                      1.91

In [61]:
#Purchasing by Gender
purchase_by_gender_df = purchase_data_df[["Gender","Price"]]

only_males = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] =="Male", :]
only_males_ct =len(only_males)
only_males_tot_purchase = only_males["Price"].sum()
only_males_tot_purchase
only_males_avg_price = only_males["Price"].mean()
only_males_avg_pp = (only_males_tot_purchase)/(genders_demo_df.loc["Male"]["Total Count"])
only_males_df = [{"Gender":"Male","Purchase Count": only_males_ct,"Average Purchase Price($)":only_males_avg_price,"Total Purchase Value($)": only_males_tot_purchase,"Avg Total Purchase per Person($)":only_males_avg_pp}]
only_males_df = pd.DataFrame(only_males_df).round(2)
only_males_all_df =only_males_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]

In [62]:
only_females = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] =="Female", :]
only_females_ct =len(only_females)
only_females_tot_purchase = only_females["Price"].sum()
only_females_tot_purchase
only_females_avg_price = only_females["Price"].mean()
only_females_avg_pp = (only_females_tot_purchase)/(genders_demo_df.loc["Female"]["Total Count"])
only_females_df = [{"Gender":"Female","Purchase Count": only_females_ct,"Average Purchase Price($)":only_females_avg_price,"Total Purchase Value($)": only_females_tot_purchase,"Avg Total Purchase per Person($)":only_females_avg_pp}]
only_females_df = pd.DataFrame(only_females_df).round(2)
only_females_all_df =only_females_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]

In [63]:
only_nds = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] == "Other / Non-Disclosed", :]
only_nds
only_nds_ct =len(only_nds)
only_nds_tot_purchase = only_nds["Price"].sum()
only_nds_tot_purchase
only_nds_avg_price = only_nds["Price"].mean()
only_nds_avg_pp = (only_nds_tot_purchase)/(genders_demo_df.loc["Other / Non-Disclosed"]["Total Count"])
only_nds_df = [{"Gender":"Other / Non-Disclosed","Purchase Count": only_nds_ct,"Average Purchase Price($)":only_nds_avg_price,"Total Purchase Value($)": only_nds_tot_purchase,"Avg Total Purchase per Person($)":only_nds_avg_pp}]
only_nds_df = pd.DataFrame(only_nds_df).round(2)
only_nds_all_df =only_nds_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]

In [64]:
merged_mf = pd.merge(only_males_all_df,only_females_all_df, how="outer")
merged_mfo = pd.merge(merged_mf,only_nds_all_df, how="outer")
merged_mfo.head()

,Gender,Purchase Count,Average Purchase Price($),Total Purchase Value($),Avg Total Purchase per Person($)
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [30]:
#Age Demographic
bins = [0,9,14,19,24,29,34,39,105]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
players_df["Age Group"] = pd.cut(players_df["Age"], bins, labels=group_labels)
group_ages_df = players_df.groupby(["Age Group"])
group_count = group_ages_df[["Purchase ID"]].count()
group_count = group_count.rename(columns = {"Purchase ID":"Group Count"})
group_percent = (group_count/total_players_count)*100
group_count["Group Percent(%)"] = group_percent.round(2)
group_count.head(10)

           Group Count  Group Percent(%)
Age Group
<10                 17              2.95
10-14               22              3.82
15-19              107             18.58
20-24              258             44.79
25-29               77             13.37
30-34               52              9.03
35-39               31              5.38
40+                 12              2.08

In [51]:
bins = [0,9,14,19,24,29,34,39,105]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
group_purch_df = purchase_data_df.groupby(["Age Group"])

group_purch_ct = group_purch_df["Purchase ID"].count()
group_purch_mean = group_purch_df["Price"].mean().round(2)
group_purch_tot = group_purch_df["Price"].sum()
group_purch_avg = (group_purch_tot/group_count["Group Count"]).round(2)

purch_by_age = {"Purchase Count":group_purch_ct,"Average Purchase Price($)":group_purch_mean,
                "Total Purchase Value($)":group_purch_tot,"Avg Total Purchase per Person($)":group_purch_avg}
purch_by_age_df = pd.DataFrame(purch_by_age)
purch_by_age_df

,Purchase Count,Average Purchase Price($),Total Purchase Value($),Avg Total Purchase per Person($)
Age Group,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [65]:
#Top Spenders
purchase_data_df.head()
purchase_tscount = purchase_data_df["SN"].value_counts()
purchase_tscount.head()

#locate(loc) using my top 5 indexing, sorting for purchase price
#SN for top 5 spenders 
#average purchase price

#tot. purchase value
#sort by

Lisosia93      5
Idastidru52    4
Iral74         4
Idai61         3
Iri67          3
Name: SN, dtype: int64

In [ ]:
#Most Popular Items
#id 5 most popular items by count
purchase_data_df.head()
purchase_picount = purchase_data_df["Item ID"].value_counts()
purchase_picount.head()
#item name

#purchase count

#item price

#total purchase value

In [ ]:
#Most Profitable items
#item id

#item name

#purchase count

#item price

#total purchase value