In [1]:
import pandas as pd

In [2]:
file = "../Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(file)

In [3]:
#Total number of players
total_players = purchase_data_df["SN"].value_counts()
total_players_count = len(total_players)
total_players_count_df = [{"Total Player":total_players_count}]
total_players_df = pd.DataFrame(total_players_count_df)
total_players_df

   Total Player
0           576

In [4]:
#Purchasing Analysis
items = purchase_data_df["Item ID"].value_counts()
items_df = len(items)

average_purchase = purchase_data_df["Price"].mean()
average_purchase_df = average_purchase

tot_items = items.sum()

tot_revenue = purchase_data_df["Price"].sum()

purchasing_items = [{"Number of Unique Items":items_df,"Average Purchase Price($)":average_purchase_df,"Total Number of Purchases":tot_items,"Total Revenue($)":tot_revenue}]
purchasing_items_df = pd.DataFrame(purchasing_items).round(2)
purchasing_items_df = purchasing_items_df[["Number of Unique Items","Average Purchase Price($)","Total Number of Purchases","Total Revenue($)"]]                    
purchasing_items_df

,Number of Unique Items,Average Purchase Price($),Total Number of Purchases,Total Revenue($)
0,183,3.05,780,2379.77

In [5]:
#Gender Demographic
purchase_data_df_copy = purchase_data_df.copy(deep = True)
players_df = purchase_data_df_copy
players_df.sort_values("SN", inplace =True)
players_df.drop_duplicates(subset = "SN", keep = "first", inplace = True)
genders = players_df["Gender"].value_counts()
genders_df = pd.DataFrame(genders)
genders_demo_df = genders_df.rename(columns= {"Gender":"Total Count"})
genders_demo_df["Percentage of Players(%)"] = (genders_demo_df["Total Count"]/total_players_count)*100 
genders_demo_df.round(2)

                       Total Count  Percentage of Players(%)
Male                           484                     84.03
Female                          81                     14.06
Other / Non-Disclosed           11                      1.91

In [6]:
#Purchasing by Gender
purchase_by_gender_df = purchase_data_df[["Gender","Price"]]

only_males = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] =="Male", :]
only_males_ct =len(only_males)
only_males_tot_purchase = only_males["Price"].sum()
only_males_tot_purchase
only_males_avg_price = only_males["Price"].mean()
only_males_avg_pp = (only_males_tot_purchase)/(genders_demo_df.loc["Male"]["Total Count"])
only_males_df = [{"Gender":"Male","Purchase Count": only_males_ct,"Average Purchase Price($)":only_males_avg_price,"Total Purchase Value($)": only_males_tot_purchase,"Avg Total Purchase per Person($)":only_males_avg_pp}]
only_males_df = pd.DataFrame(only_males_df).round(2)
only_males_all_df =only_males_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]

In [7]:
only_females = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] =="Female", :]
only_females_ct =len(only_females)
only_females_tot_purchase = only_females["Price"].sum()
only_females_tot_purchase
only_females_avg_price = only_females["Price"].mean()
only_females_avg_pp = (only_females_tot_purchase)/(genders_demo_df.loc["Female"]["Total Count"])
only_females_df = [{"Gender":"Female","Purchase Count": only_females_ct,"Average Purchase Price($)":only_females_avg_price,"Total Purchase Value($)": only_females_tot_purchase,"Avg Total Purchase per Person($)":only_females_avg_pp}]
only_females_df = pd.DataFrame(only_females_df).round(2)
only_females_all_df =only_females_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]

In [8]:
only_nds = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] == "Other / Non-Disclosed", :]
only_nds
only_nds_ct =len(only_nds)
only_nds_tot_purchase = only_nds["Price"].sum()
only_nds_tot_purchase
only_nds_avg_price = only_nds["Price"].mean()
only_nds_avg_pp = (only_nds_tot_purchase)/(genders_demo_df.loc["Other / Non-Disclosed"]["Total Count"])
only_nds_df = [{"Gender":"Other / Non-Disclosed","Purchase Count": only_nds_ct,"Average Purchase Price($)":only_nds_avg_price,"Total Purchase Value($)": only_nds_tot_purchase,"Avg Total Purchase per Person($)":only_nds_avg_pp}]
only_nds_df = pd.DataFrame(only_nds_df).round(2)
only_nds_all_df =only_nds_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]

In [9]:
merged_mf = pd.merge(only_males_all_df,only_females_all_df, how="outer")
merged_mfo = pd.merge(merged_mf,only_nds_all_df, how="outer")
merged_mfo.head()

,Gender,Purchase Count,Average Purchase Price($),Total Purchase Value($),Avg Total Purchase per Person($)
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [10]:
#Age Demographic
bins = [0,9,14,19,24,29,34,39,105]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
players_df["Age Group"] = pd.cut(players_df["Age"], bins, labels=group_labels)
group_ages_df = players_df.groupby(["Age Group"])
group_count = group_ages_df[["Purchase ID"]].count()
group_count = group_count.rename(columns = {"Purchase ID":"Group Count"})
group_percent = (group_count/total_players_count)*100
group_count["Group Percent(%)"] = group_percent.round(2)
group_count.head(10)

           Group Count  Group Percent(%)
Age Group
<10                 17              2.95
10-14               22              3.82
15-19              107             18.58
20-24              258             44.79
25-29               77             13.37
30-34               52              9.03
35-39               31              5.38
40+                 12              2.08

In [11]:
bins = [0,9,14,19,24,29,34,39,105]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
group_purch_df = purchase_data_df.groupby(["Age Group"])

group_purch_ct = group_purch_df["Purchase ID"].count()
group_purch_mean = group_purch_df["Price"].mean().round(2)
group_purch_tot = group_purch_df["Price"].sum()
group_purch_avg = (group_purch_tot/group_count["Group Count"]).round(2)

purch_by_age = {"Purchase Count":group_purch_ct,"Average Purchase Price($)":group_purch_mean,
                "Total Purchase Value($)":group_purch_tot,"Avg Total Purchase per Person($)":group_purch_avg}
purch_by_age_df = pd.DataFrame(purch_by_age)
purch_by_age_df

,Purchase Count,Average Purchase Price($),Total Purchase Value($),Avg Total Purchase per Person($)
Age Group,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [12]:
#Top Spenders
tspurchase_df = purchase_data_df.loc[:,["SN","Price"]]
ts_count = tspurchase_df["SN"].value_counts()
ts_count_df = pd.DataFrame(ts_count)
ts_count_df = ts_count_df.rename(columns ={"SN":"Purchase Count"})
aggregate_dict = {"SN": "first", "Price":"sum"}
grouped_ts = tspurchase_df.groupby(tspurchase_df["SN"]).aggregate(aggregate_dict)
merged_ts = pd.merge(grouped_ts,ts_count_df, right_index = True, left_index = True)
merged_ts["Average Purchase Price($)"] = (merged_ts["Price"]/merged_ts["Purchase Count"]).round(2)
merged_ts.head(20)
topspender_df = merged_ts.rename(columns={"Price":"Total Purchase Price($)"})
topspender_sort = topspender_df.sort_values("Total Purchase Price($)", ascending=False)
topspender_sort.head()

,SN,Total Purchase Price($),Purchase Count,Average Purchase Price($)
Lisosia93,Lisosia93,18.96,5,3.79
Idastidru52,Idastidru52,15.45,4,3.86
Chamjask73,Chamjask73,13.83,3,4.61
Iral74,Iral74,13.62,4,3.40
Iskadarya95,Iskadarya95,13.10,3,4.37

In [18]:
#Most Popular Items
mpop_purchase_df = purchase_data_df.loc[:,["Item ID","Item Name","Price"]]
mp_count = mpop_purchase_df["Item ID"].value_counts()
mp_count_df = pd.DataFrame(mp_count)
mp_count_df = mp_count_df.rename(columns ={"Item ID":"Purchase Count"})
merged_mp = pd.merge(mpop_purchase_df,mp_count_df["Purchase Count"], right_index = True, left_index = True)
grouped_mp = merged_mp.groupby(["Item ID","Item Name"])
grouped_mp.head()
grouped_mp["Total Purchase Value($)"] = (grouped_mp["Price"]) * (grouped_mp["Purchase Count"])
#mostpop_sort = grouped_mp.sort_values(["Purchase Count"], ascending=False)
#mostpop_sort.head()

TypeError: unsupported operand type(s) for *: 'SeriesGroupBy' and 'SeriesGroupBy'

In [ ]:
#Most Profitable items
#most_prof_sort = grouped_mp.sort_values(["Total Purchase Value($)"], ascending=False)
#most_prof_sort.head()