In [81]:
import pandas as pd

In [82]:
file = "../Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [83]:
#Total number of players
total_players = purchase_data_df["SN"].value_counts()
total_players_count = len(total_players)
total_players_count_df = [{"Total Player":total_players_count}]
total_players_df = pd.DataFrame(total_players_count_df)
total_players_df

   Total Player
0           576

In [84]:
#Purchasing Analysis
items = purchase_data_df["Item ID"].value_counts()
items_df = len(items)

average_purchase = purchase_data_df["Price"].mean()
average_purchase_df = average_purchase

tot_items = items.sum()

tot_revenue = purchase_data_df["Price"].sum()

purchasing_items = [{"Number of Unique Items":items_df,"Average Purchase Price($)":average_purchase_df,"Total Number of Purchases":tot_items,"Total Revenue($)":tot_revenue}]
purchasing_items_df = pd.DataFrame(purchasing_items).round(2)
purchasing_items_df = purchasing_items_df[["Number of Unique Items","Average Purchase Price($)","Total Number of Purchases","Total Revenue($)"]]                    
purchasing_items_df

,Number of Unique Items,Average Purchase Price($),Total Number of Purchases,Total Revenue($)
0,183,3.05,780,2379.77

In [85]:
#Gender Demographic
purchase_data_df_copy = purchase_data_df.copy(deep = True)
players_df = purchase_data_df_copy
players_df.sort_values("SN", inplace =True)
players_df.drop_duplicates(subset = "SN", keep = "first", inplace = True)
genders = players_df["Gender"].value_counts()
genders_df = pd.DataFrame(genders)
genders_demo_df = genders_df.rename(columns= {"Gender":"Total Count"})
genders_demo_df["Percentage of Players(%)"] = (genders_demo_df["Total Count"]/total_players_count)*100 
genders_demo_df.round(2)

                       Total Count  Percentage of Players(%)
Male                           484                     84.03
Female                          81                     14.06
Other / Non-Disclosed           11                      1.91

In [86]:
#Purchasing by Gender
purchase_by_gender_df = purchase_data_df[["Gender","Price"]]

only_males = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] =="Male", :]
only_males_ct =len(only_males)
only_males_tot_purchase = only_males["Price"].sum()
only_males_tot_purchase
only_males_avg_price = only_males["Price"].mean()
only_males_avg_pp = (only_males_tot_purchase)/(484)
only_males_df = [{"Gender":"Male","Purchase Count": only_males_ct,"Average Purchase Price($)":only_males_avg_price,"Total Purchase Value($)": only_males_tot_purchase,"Avg Total Purchase per Person($)":only_males_avg_pp}]
only_males_df = pd.DataFrame(only_males_df).round(2)
only_males_all_df =only_males_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]
only_males_all_df
#merge data frames
#how to get total male players back as a variable to use

,Gender,Purchase Count,Average Purchase Price($),Total Purchase Value($),Avg Total Purchase per Person($)
0,Male,652,3.02,1967.64,4.07

In [87]:
only_females = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] =="Female", :]
only_females_ct =len(only_females)
only_females_tot_purchase = only_females["Price"].sum()
only_females_tot_purchase
only_females_avg_price = only_females["Price"].mean()
only_females_avg_pp = (only_females_tot_purchase)/(81)
only_females_df = [{"Gender":"Female","Purchase Count": only_females_ct,"Average Purchase Price($)":only_females_avg_price,"Total Purchase Value($)": only_females_tot_purchase,"Avg Total Purchase per Person($)":only_females_avg_pp}]
only_females_df = pd.DataFrame(only_females_df).round(2)
only_females_all_df =only_females_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]
only_females_all_df
#merge data frames

,Gender,Purchase Count,Average Purchase Price($),Total Purchase Value($),Avg Total Purchase per Person($)
0,Female,113,3.2,361.94,4.47

In [89]:
only_nds = purchase_by_gender_df.loc[purchase_by_gender_df["Gender"] == "Other / Non-Disclosed", :]
only_nds
only_nds_ct =len(only_nds)
only_nds_tot_purchase = only_nds["Price"].sum()
only_nds_tot_purchase
only_nds_avg_price = only_nds["Price"].mean()
only_nds_avg_pp = (only_nds_tot_purchase)/(11)
only_nds_df = [{"Gender":"Other / Non-Disclosed","Purchase Count": only_nds_ct,"Average Purchase Price($)":only_nds_avg_price,"Total Purchase Value($)": only_nds_tot_purchase,"Avg Total Purchase per Person($)":only_nds_avg_pp}]
only_nds_df = pd.DataFrame(only_nds_df).round(2)
only_nds_all_df =only_nds_df[["Gender","Purchase Count","Average Purchase Price($)","Total Purchase Value($)","Avg Total Purchase per Person($)"]]
only_nds_all_df
#merge data frames

,Gender,Purchase Count,Average Purchase Price($),Total Purchase Value($),Avg Total Purchase per Person($)
0,Other / Non-Disclosed,15,3.35,50.19,4.56

In [90]:
#merged dfs

In [91]:
#Age Demographic
bins = [0,9,14,19,24,29,34,39,105]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
players_df["Age Group"] = pd.cut(players_df["Age"], bins, labels=group_labels)
group_ages_df = players_df.groupby(["Age Group"])
group_count = group_ages_df[["Purchase ID"]].count()
group_count = group_count.rename(columns = {"Purchase ID":"Group Count"})
group_percent = (group_count/total_players_count)*100
group_count["Group Percent(%)"] = group_percent.round(2)
group_count.head(10)

           Group Count  Group Percent(%)
Age Group
<10                 17              2.95
10-14               22              3.82
15-19              107             18.58
20-24              258             44.79
25-29               77             13.37
30-34               52              9.03
35-39               31              5.38
40+                 12              2.08

In [96]:
bins = [0,9,14,19,24,29,34,39,105]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
group_purch_df = purchase_data_df.groupby(["Age Group"])

group_purch_ct = group_purch_df.count()
group_purch_mean = group_purch_df["Price"].mean().round(2)
group_purch_tot = group_purch_df["Price"].sum()

#group_purch_avg = group_purch_tot/group_count
#group_purch_avg

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [107]:
#Top Spenders
purchase_data_df.head()
purchase_tscount = purchase_data_df["SN"].value_counts()
purchase_tscount.head()


#average purchase price

#tot. purchase value
#sort by

Lisosia93      5
Iral74         4
Idastidru52    4
Phaena87       3
Rarallo90      3
Name: SN, dtype: int64

In [108]:
#Most Popular Items
#id 5 most popular items by count
purchase_data_df.head()
purchase_picount = purchase_data_df["Item ID"].value_counts()
purchase_picount.head()
#item name

#purchase count

#item price

#total purchase value

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [ ]:
#Most Profitable items
#item id

#item name

#purchase count

#item price

#total purchase value